@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.click-me,
.lets-get-started {
  position: absolute;
  top: 475px;
  left: 340px;
}
.click-me {
  top: 0;
  left: 51px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-sawarabi-gothic);
  color: var(--color-black);
  text-align: left;
}
.svg-image-icon {
  position: absolute;
  top: 14px;
  left: 312px;
  width: 44px;
  height: 46px;
  overflow: hidden;
}
.click-button-with-all {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #d9d9d9;
  position: absolute;
  top: 618px;
  left: calc(50% - 205px);
  border-radius: 24px;
  width: 409px;
  height: 74px;
}
.click-button-with-all:hover {
  align-items: center;
  justify-content: center;
  animation: 1s ease-out 0s infinite normal none scale-up;
  opacity: 1;
}
.page-before-questions {
  position: relative;
  background-color: #f4f3f8;
  width: 100%;
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-sawarabi-gothic);
}
